@page "/forgotpw"
@using FluentValidation
@using FluentValidation.Results
@using RealEstate.App.Auth
@using RealEstate.App.Models
@using RealEstate.App.Validators
@using MatBlazor
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider
@inject IValidator<ForgotPasswordViewModel> Validator

<head>
    <script src="_content/MatBlazor/dist/matBlazor.js"></script>
    <link href="_content/MatBlazor/dist/matBlazor.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css?v=1.0.1" />
</head>

<div class="content-container">
    <h6 class="warning-text">@message</h6>
    <div class="form-card">
        <div class="auth-form-buttons-div">
            <MatButtonLink Href="login">Sign in</MatButtonLink>
        </div>
        <EditForm Model="@forgotPwRequest" OnValidSubmit="OnSubmit">
            <hr class="auth-hr">

            <div class="auth-input-div">
                <MatTextField id="email" type="email" class="auth-input" @bind-Value="forgotPwRequest.Email" Label="Enter email"></MatTextField>

                <div class="error-msg auth-message">@emailError</div>
            </div>

            <MatButton Class="submit-btn" Raised="true" type="submit">Submit</MatButton>
            <hr class="auth-hr">
        </EditForm>
    </div>
</div>

@code {
    ForgotPasswordViewModel forgotPwRequest = new ForgotPasswordViewModel();
    string emailError { get; set; }
    string message { get; set; }

    async Task OnSubmit()
    {
        ValidationResult results = Validator.Validate(forgotPwRequest);
        emailError = null;

        if (!results.IsValid)
        {
            foreach (var failure in results.Errors)
            {
                if (failure.PropertyName == "Email")
                    emailError = failure.ErrorMessage;
            }
        }
        else
        {
            try
            {
                await authStateProvider.ForgotPassword(forgotPwRequest);
            }
            catch (Exception ex)
            {
                emailError = ex.Message;
            }
            
            message = "Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.";
        }
       
    }
}
