@page "/forgotpw"
@inject HttpClient Http

<head>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<div class="content-container">
    <div class="form-card">
        <div class="auth-form-buttons-div">
            <NavLink href="login">
                <button class="auth-form-button">
                    Back to sign in
                </button>
            </NavLink>

        </div>
        <EditForm OnValidSubmit="HandleValidSubmit">
            <hr class="auth-hr">

            <div class="auth-input-div">
                <label class="auth-recovery-label" for="email">Please enter your email to start the password recovery process</label>
                <br>

                <InputText id="email" type="email" class="auth-input" placeholder="Enter email" required />
            </div>

            <input class="auth-form-submit-button" type="submit" value="Submit">
            <hr class="auth-hr">
        </EditForm>
    </div>
</div>

@code {
    public string message = "";
    private bool success = true;

    private void HandleValidSubmit()
    {

        if (success)
        {
            message = "";
        }
        else
        {
            message = "Wrong credentials";
        }
    }
}
