@page "/"

<head>
    <link rel="stylesheet" href="css/styles.css" />
    <script src="_content/MatBlazor/dist/matBlazor.js"></script>
    <link href="_content/MatBlazor/dist/matBlazor.css" rel="stylesheet" />
</head>

<PageTitle>Home</PageTitle>

<h1>Propertunity</h1>
