@page "/{PropertyType}/post/{PostId}"

@inject NavigationManager navigationManager

@if (propertyTypes.Contains(PropertyType)) {
    <h3>@PropertyType --> @PostId</h3>
} else
{
    navigationManager.NavigateTo("/notFound");
}



@code {
    [Parameter]
    public string PostId { get; set; }
    [Parameter]
    public string PropertyType { get; set; }

    private string[] propertyTypes = new string[] { "apartment", "house", "commercial", "hotel", "lot" };
}
