@page "/resetpw"
@using FluentValidation
@using FluentValidation.Results
@using RealEstate.App.Auth
@using RealEstate.App.Models
@using System.Web
@using MatBlazor
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider
@inject IValidator<ResetPasswordViewModel> Validator

<head>
    <link rel="stylesheet" href="css/styles.css?v=1.0" />
    <script src="_content/MatBlazor/dist/matBlazor.js"></script>
    <link href="_content/MatBlazor/dist/matBlazor.css" rel="stylesheet" />
</head>


<div class="content-container">
    <div class="form-card">
        <h5 class="mat-h5">Reset your password</h5>
        <EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="resetPwRequest">
            <hr class="auth-hr">

            <div class="auth-input-div">
                <MatTextField type="password" id="inputPassword" @bind-Value="resetPwRequest.password" Label="Password"></MatTextField>

                <div class="error-msg auth-message">@passwordError</div>
            </div>

            <div class="auth-input-div">
                <MatTextField type="password" id="confirmPassword" @bind-Value="resetPwRequest.confirmPassword" Label="Confirm password"></MatTextField>

                <div class="error-msg auth-message">@confirmPasswordError</div>
            </div>
            <br />

            <hr class="auth-hr">

            <MatButton Class="submit-btn" Raised="true" type="submit">Reset password</MatButton>


            <label class="text-danger">@error</label>
        </EditForm>

    </div>
</div>


@code {
    ResetPasswordViewModel resetPwRequest { get; set; } = new ResetPasswordViewModel();
    string error { get; set; }
    string passwordError { get; set; }
    string confirmPasswordError { get; set; }


    protected override void OnInitialized()
    {
        base.OnInitialized();
        string url = navigationManager.Uri;
        string parsedUrl = url.Split("?")[1];
        var paramsCollection = HttpUtility.ParseQueryString(parsedUrl);
        foreach (var key in paramsCollection.AllKeys)
        {
            Console.WriteLine($"Key: {key} => Value: {paramsCollection[key]}");
        }

        resetPwRequest.email = paramsCollection["email"];
        resetPwRequest.token = paramsCollection["token"];

        if (resetPwRequest.email == null || resetPwRequest.token == null)
        {
            error = "Invalid Email or Token " + parsedUrl;
        }
    }

    async Task OnSubmit()
    {
        ValidationResult results = Validator.Validate(resetPwRequest);
        passwordError = null;
        confirmPasswordError = null;
        error = null;
        if (!results.IsValid)
        {
            foreach (var failure in results.Errors)
            {
                if (failure.PropertyName == "password" && passwordError == null)
                    passwordError = failure.ErrorMessage;
                else if (failure.PropertyName == "confirmPassword" && confirmPasswordError == null)
                    confirmPasswordError = failure.ErrorMessage;
            }
        }
        else
        {
            try
            {
                await authStateProvider.ResetPassword(resetPwRequest);
                LogToConsole("Confirm password ok");
                navigationManager.NavigateTo("/Login");
            }
            catch (Exception ex)
            {
                LogToConsole("Confirm password failed");
                error = ex.Message;
            }
            
        }
        void LogToConsole(string message)
        {
            JSRuntime.InvokeVoidAsync("console.log", message);
        }
        
    }
}
