@page "/resetpw"
@inject HttpClient Http

<head>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<div class="content-container">
    <div class="form-card">
        <div class="auth-form-buttons-div">
            <NavLink href="Login">
                <button class="auth-form-button">
                    Back to sign in
                </button>
            </NavLink>

        </div>
        <form action="/submit_form" method="post">
            <hr class="auth-hr">

            <div class="auth-input-div">
                <label class="auth-recovery-label" for="email">Please enter your email to start the password recovery process</label>
                <br>

                <input class="auth-input" type="email" id="email" name="email" placeholder="Enter email" required>
            </div>

            <input class="auth-form-submit-button" type="submit" value="Submit">
            <hr class="auth-hr">
        </form>
    </div>
</div>

@code {

}
